body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

#category-buttons, #symptom-buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.selected {
    background-color: #4CAF50;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('public/back.png'); /* Update with your image path */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: right;
}

.symptom-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Subtle shadow */
    max-width: 600px;
    width: 100%;
}
